.container {
    background-color: var(--green);
    height: 100vh;
    width: 100%;
    color: var(--white);
}

.main-menu {
    width: 50%;
    text-align: center;
}

.main-menu .menu-item {
    margin: calc(var(--spacing) * 4) auto;
    padding: var(--spacing);
    border-radius: var(--spacing);
    border: 2px solid var(--white);
    transition: all 0.2s;
    width: 100%;
    max-width: 200px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: var(--white);
}

.main-menu .menu-item:hover {
    color: var(--green);
    background-color: var(--white);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    h1 {
        font-size: 20px;
    }
    .main-menu {
        width: 100%;
    }
}

.home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    padding: var(--spacing);
    border-radius: 50%;
    border: 2px solid var(--white);
    transition: all 0.3s;
    color: var(--white);
    text-decoration: none;
}

.home-button:hover {
    cursor: pointer;
    background-color: var(--dark-green);
}
