.todo-list-container {
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    width: 80%;
    max-width: 600px;
    overflow-x: hidden;
}

.todo-list {
    width: 100%;
    position: relative;
}

.todo-item {
    display: flex;
    flex-direction: row;
    margin: calc(3 * var(--spacing)) 0;
    align-items: center;
    width: 100%;
}

.todo-logo {
    margin-right: var(--spacing);
    border: 1px solid;
    padding: var(--spacing);
    background-color: var(--green);
}

.todo-text {
    position: relative;
    width: 100%;
    margin-right: var(--spacing);
}

.todo-text input,
.todo-text .todo-input {
    position: relative;
    border: none;
    background-color: transparent;
    color: var(--white);
    resize: none;
    font-size: 16px;
    overflow-y: hidden;
    padding: var(--spacing) 0 calc(var(--spacing) - 1px) 0;
    border-bottom: 1px solid transparent;
    outline: none;
    width: 100%;
}

.todo-text .todo-input:focus {
    transition: border 0.3s;
    border-bottom: 1px solid var(--white);
}

.todo-text .todo-veil {
    position: absolute;
    background-color: var(--green);
    top: 0;
    bottom: 0;
    right: 0;
}

.todo-item .delete-todo {
    cursor: pointer;
    transition: all 0.2s;
    background-color: var(--dark-green);
    padding: calc(var(--spacing) + 1px);
    font-size: 16px;
    margin: 0 var(--spacing) 0 auto;
}

.todo-item .delete-todo:hover {
    color: var(--danger);
}

.todo-logo,
.todo-item .delete-todo {
    border-radius: 4px;
    height: 20px;
    width: 20px;
    opacity: 0;
}
