@import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto&display=swap");

/* Variables */
:root {
    --green: #2bae66ff;
    --white: #fcf6f5ff;
    --spacing: 8px;
}

/* Reset Layout */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Acme", sans-serif;
}

/* Utility Classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-headline {
    position: relative;
}

.animated-headline::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: var(--white);
    animation-name: headlineAnim;
    animation-duration: 1.4s;
    width: 100%;
}

@keyframes headlineAnim {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
