@import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto&display=swap");

/* Variables */
:root {
    --green: #2bae66ff;
    --white: #fcf6f5ff;
    --dark-green: #259451;
    --spacing: 8px;
    --danger: #9c250b;
}

/* Reset Layout */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Acme", sans-serif;
}

/* Utility Classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.animated-headline {
    position: relative;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 1);
}

.animated-headline::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: var(--white);
    animation-name: headlineAnim;
    animation-duration: 1.4s;
    width: 100%;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
    padding: var(--spacing) calc(var(--spacing) / 2);
    color: var(--white);
    outline: none;
    font-size: 16px;
}

@keyframes headlineAnim {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
